GROQ_API_KEY=
VOYAGE_API_KEY=
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_WAREHOUSE=FOODINTEL_WH
SNOWFLAKE_DATABASE=FOODINTEL
SNOWFLAKE_SCHEMA=RAW
SNOWFLAKE_PRIVATE_KEY_FILE=/home/blackbird/.snowflake/dbt_rsa_key.p8
SNOWFLAKE_PRIVATE_KEY_PASSPHRASE=
